body {
    margin: 0;
    font-family: "Comic Sans MS", "Poppins", sans-serif;
    background: #f5f2e8; 
    text-align: center;
    background-image: url("../Assets/images/brainrot.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background: linear-gradient(to left, #6ec1e4, #4caf50);
    padding: 10px 0;
    
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

.bottom-nav a {
    text-decoration: none;
    color: #333;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.bottom-nav a:hover {
   transform: scale(1.2);
}

.title {
    color: #ff6f4c;
    font-size: 2.5rem;
    margin-top: 20px;
}

.subtitle {
    color: #4caf50;
    margin-bottom: 20px;
    font-size: 20px;
}

.leaderboard-card {
    width: 80%;
    max-width: 700px;
    margin: auto;
     background: linear-gradient(135deg, #e3f2fd, #fff8e1);
    border-radius: 20px;
    padding: 20px;
    border: 3px dashed #ffc107; 
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: #ff6f4c;
    font-size: 1.2rem;
    padding: 10px;
}

td {
    padding: 12px;
    font-size: 1rem;
}

tbody tr {
    border-radius: 10px;
    transition: 0.3s;
}

.gold {
    background: #fff8dc;
    font-weight: bold;
}

.silver {
    background: #f1f1f1;
    font-weight: bold;
}

.bronze {
    background: #ffe4c4;
    font-weight: bold;
}
