body {
    margin: 0;
    min-height: 100vh;
    font-family: 'DM Sans', sans-serif;
    background: linear-gradient(135deg, #cecfcd, #dcddc8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    box-sizing: border-box;
}
h1 {
    font-family: Georgia, serif;
    text-align: center;
}
/*reusable container*/
.form-box {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}
.field {
    margin-bottom: 16px;
}
/*reusable button*/
.btn {
    width: 65%;
    padding: 12px;
    margin: 15px auto;
    display: block;
    border-radius: 40px;
    border: 2px solid #333;
    background-color: #c7ded8;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    background-color: #b4d0c9;
}
.forgot {
    display: inline-block;
    float: right;
    margin-bottom: 15px;
    color: #007200;
    text-decoration: underline;
    font-size: 12px;
}
.create {
    margin-top: 15px;
    font-size: 11px;
}
.create a {
    color: #007200;
}
input {
    width: 100%;            
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    box-sizing: border-box; 
}
label {
    display: block;
    margin-bottom: 4px;
    text-align: center; 
}
.log {
    text-align: left;
    font-size: 13px;
}
.log a {
    color: #007200;
}
h4{
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 12px;
}
#avatarLabel {
    display: block;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
}
#avatarCircle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px dashed #aaa;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    font-size: 2.5rem;
    transition: border 0.2s, transform 0.2s;
}
#avatarCircle:hover {
    border-color: #4db8ff;
    transform: scale(1.05);
}
#avatarLabel p {
    font-size: 0.8rem;
    color: #aaa;
    margin-top: 0.4rem;
}
.login-role{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-role a{
    flex: 1;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    border-bottom: 2px solid transparent;

    transition: border-bottom 0.3s ease; 
}

.login-role a:hover{
    border-bottom: 2px solid #333;
}

.login-role .active{
    font-weight: bold;
    border-bottom: 2px solid black;
}
